@page
@model SarasBlogg.Areas.Identity.Pages.Account.ExternalLoginCallbackModel

<h2>Loggar in…</h2>
<p>Du skickas vidare.</p>

<script>
    // Låt servern sätta cookies först
    setTimeout(() => {
        window.location.replace("/");
    }, 100);
</script>