@page
@using Extensions
@model IndexModel
@{
    ViewData["Title"] = "Hem";
}

<div class="header-container">
    <div class="left-side">
        <h1 class="header-title">
            <a asp-area="" asp-page="/Index">
                <img class="logo-img" src="~/img/logo/logga.png" alt="med hjärtat som kompass logotype" />
            </a>
        </h1>
    </div>

@*     <div class="right-side">
        <img class="right-img" src="~/img/logo/jagmedbarnen.png" alt="Bild till höger" />
    </div> *@
</div>

<div class="content-container d-flex mt-4">
    <div class="blog-posts flex-grow-1 me-3">
        @await Html.PartialAsync("Shared/_LatestPosts", Model.LatestPosts)
    </div>

    <div class="om-mig-box">
        <a asp-page="/AboutMe" class="text-decoration-none aboutme-link">
            @if (Model.AboutMe != null && !string.IsNullOrEmpty(Model.AboutMe.Image))
            {
                <div class="aboutme-wrapper">
                    <img class="aboutme-img"
                         src="@(string.IsNullOrWhiteSpace(Model.AboutMe.Image) ? "/img/blogg/default.png" : Model.AboutMe.Image)"
                         onerror="this.onerror=null; this.src='/img/blogg/default.png';"
                         alt="Om Mig-bild" />
                    <div>
                        <h3 class="blogg-title">@Model.AboutMe.Title</h3>
                        <div class="blogg-content prose">
                            @Html.Raw(Model.AboutMe.Content.LimitLength(120, true))
                            <span class="readmore-link">Läs mer</span>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <p>Om mig-sektionen är ännu inte skapad.</p>
            }
        </a>
    </div>
</div>


