@page
@model SarasBlogg.Areas.Identity.Pages.Account.RegisterConfirmationModel
@{
    ViewData["Title"] = "Bekräfta registrering";
}

<h2>@ViewData["Title"]</h2>
<p>
    Tack för din registrering!
    Ett bekräftelsemail har skickats till din adress.
    Kontrollera din inkorg (och även skräppostmappen).
</p>
